#buttons, .button {
    margin: 10px;
    align-items: center;
}

#text {
    color: #25095e;
}

.button {
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    font-size: larger;
}

.animF {
    animation: transF 0.5s linear forwards;
}

@keyframes transF {
    0% {
        transform: translate(0, 0);
    } 50% {
        transform: translate(-12.5rem, 6rem);
    } 100% {
        transform: translate(-25rem, 0rem);
    }
}

.animB {
    animation: transB 0.5s linear forwards;
}

@keyframes transB {
    0% {
        transform: translate(-25rem, 0rem);
    }
    50% {
        transform: translate(-12.5rem, 6rem);
    } 100% {
        transform: translate(0, 0);
    }
}
