html, body, 
div, form,
code, pre { 
margin: 0; 
padding: 0; 
border: 0; 
vertical-align: baseline; 
}

/* ------------------------------------------------------------------------------------------------------------- TEMPLATE */

body { 
font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #444; 
background-color: #f0f0f2;
}

a { 
color: #980905; 
}

a:hover, a:focus, a:active {
text-decoration: none; 
}

img, canvas {
width: 100%; 
height: auto; 
margin-bottom: 0.5em; 
}

p { 
line-height: 1.6; 
}

/* ------------------------------------------------------------------------------------------------------------- TEMPLATE */

.container { 
position:relative; 
overflow:hidden; 
width: 600px; 
padding: 40px 20px; 
border: 1px solid #ccc; 
margin: 40px auto 20px; 
background: #fdfdff; 
-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1); 
-moz-box-shadow: 0 0 15px rgba(0,0,0,0.1); 
box-shadow: 0 0 15px rgba(0,0,0,0.1); 
}

.header { 
padding-right:80px; 
}

.footer {
margin: 20px 0 50px; 
font-size: 11px; 
color: #666; 
text-align: center; 
}

.footer a { 
color: #666; 
text-decoration: none; 
}

input[type="file"]:focus {
outline: 0;
}

input[type="file"] {
color: transparent;
width: 100%;
height: 100%;
cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
visibility: hidden;
}

input[type="file"] {
display: inline-block;
width: 100%;
padding: 120px 0 0 0;
height: 100%;
overflow: hidden;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: url("https://lonteluh.github.io/twibbonjs/upload.png")
center center no-repeat #ffffff;
border-radius: 15px;
border: dashed #333 1px;
background-size: 60px 60px;
}

input[type="file"]:hover {
cursor: pointer;
animation: shake 0.35s;
}

@keyframes shake {
0% {
transform: rotate(0deg);
}
25% {
transform: rotate(10deg);
}
50% {
transform: rotate(0deg);
}
75% {
transform: rotate(-10deg);
}
100% {
transform: rotate(0deg);
}
}

@media (max-width: 700px) {
.container {
margin: 0 auto;
width: auto;
}
}
